<h1>Reddit Search</h1>

<!--  Ember has its input types -->
<!-- {{input type="text" value=subreddit}}

<button onclick={{action "searchForEvents"}}>Search</button> -->


<form onsubmit={{action "searchForEvents"}}>
  {{input type="text" value=subreddit}}
  <button type="submit">Search</button>
</form>

{{outlet}}
