<p>
  <br/>
  Total count: {{model.length}}
</p>

{{#each model as |subreddit|}}

<div id="ember-bootstrap-wormhole">
  <hr/>
  <!-- If a subreddit post has a value in the thumbnail property -->
  {{#if subreddit.data.thumbnail}}
    <!-- Display the image -->
    <img src={{subreddit.data.thumbnail}}/>

    <!-- If it doesn’t, -->
    {{else}}
    <!-- Show a placeholder image -->
    <img src='https://cdn3.iconfinder.com/data/icons/cute-flat-social-media-icons-3/128/reddit.png'/>
    {{/if}}

  <p><b>Title: </b> {{subreddit.data.title}}</p>
  <p><b>Num Comments: </b> {{subreddit.data.num_comments}}</p>
  <p><b>Ups: </b>{{subreddit.data.ups}}</p>
  <p><b>Downs: </b>{{subreddit.data.downs}}</p>
  <p><b>Domain: </b>{{subreddit.data.domain}}</p>
</div>
{{/each}}
